* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared scale */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main scale */
Header {
  background-color: #fff8f3;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}
.color-orange {
  color: #fd6e0a;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}